# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
.venv/
*.egg-info/
dist/

# Jupyter
.virtual_documents/
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Claude Code
.claude

# Emacs
*~
\#*\#
.#*
*.~undo-tree~

# Vizard per-project files (created by vizard start)
.env.jupyter
.jupyter.pid
.jupyter.log
.vizard_state.json
.vizard_template.ipynb
